## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vaini,TO,-21.20,-175.20,80.60,74,75,8.05,broken clouds
1,1,Sorong,ID,-0.88,131.25,85.08,62,88,5.21,overcast clouds
2,2,Rikitea,PF,-23.12,-134.97,75.87,65,76,5.14,broken clouds
3,3,Sherlovaya Gora,RU,50.57,116.25,4.48,91,0,7.58,clear sky
4,4,New Norfolk,AU,-42.78,147.06,64.99,50,0,5.99,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?50
What is the maximum temperature you would like for your trip?80

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
user_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
user_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.12,-134.97,75.87,65,76,5.14,broken clouds
4,4,New Norfolk,AU,-42.78,147.06,64.99,50,0,5.99,clear sky
5,5,Arraial Do Cabo,BR,-22.97,-42.03,75.16,88,90,6.82,overcast clouds
6,6,Bathsheba,BB,13.22,-59.52,78.80,78,20,11.41,few clouds
9,9,Cap-Aux-Meules,CA,47.38,-61.86,50.00,87,100,19.46,overcast clouds
10,10,Hobart,AU,-42.88,147.33,64.99,39,40,25.28,scattered clouds
12,12,Mahebourg,MU,-20.41,57.70,77.00,94,40,8.05,shower rain
13,13,Mataura,NZ,-46.19,168.86,64.00,52,76,15.01,broken clouds
14,14,Atuona,PF,-9.80,-139.03,78.31,78,1,14.90,clear sky
17,17,Busselton,AU,-33.65,115.33,71.01,48,0,5.21,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
user_cities_df.count()

City_ID                307
City                   307
Country                303
Lat                    307
Lng                    307
Max Temp               307
Humidity               307
Cloudiness             307
Wind Speed             307
Current Description    307
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = user_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,75.87,broken clouds,-23.12,-134.97,
4,New Norfolk,AU,64.99,clear sky,-42.78,147.06,
5,Arraial Do Cabo,BR,75.16,overcast clouds,-22.97,-42.03,
6,Bathsheba,BB,78.80,few clouds,13.22,-59.52,
9,Cap-Aux-Meules,CA,50.00,overcast clouds,47.38,-61.86,
10,Hobart,AU,64.99,scattered clouds,-42.88,147.33,
12,Mahebourg,MU,77.00,shower rain,-20.41,57.70,
13,Mataura,NZ,64.00,broken clouds,-46.19,168.86,
14,Atuona,PF,78.31,clear sky,-9.80,-139.03,
17,Busselton,AU,71.01,clear sky,-33.65,115.33,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    gl_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(gl_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   303
Country                303
Max Temp               303
Current Description    303
Lat                    303
Lng                    303
Hotel Name             303
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))